<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FrontDeskWinForm.Properties.Settings.connString" connectionString="Server=tcp:haralds-server.database.windows.net,1433;Initial Catalog=dat154_assignment4;Persist Security Info=False;User ID=harald1337;Password=RemyMonsen123!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    </connectionStrings>
</configuration>